/*Start Variable*/
:root {
    --main-color: #19be6f;
    --second-color: #006d77;
    --global-color: #062a3f;
    --e-global-color-secondary: #ebf8f2;
    --e-global-color-accent: #ff9505;
    --e-global-color-099a789: #ffffff;
    --e-global-color-ee5a311: #f9f9f9;
    --e-global-color-4f441f9: #82929b;
    --e-global-color-19ec2d7: #19be6f26;
    --e-global-color-c700d15: #ffffff00;
    --e-global-color-b63a61b: #82929b38;
    --e-global-color-fb50662: #062a3f1a;
    --transition: 0.3s;
}
/*Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Heebo", sans-serif;
    /* background-color: #f9f9f9; */
    /* background-image: url(../image/dotsleft.png); */
    background-image: url(../image/dotsright.png);
    height: 186px;
    background-repeat: no-repeat;
}
html {
    scroll-behavior: smooth;
}
.login {
    height: 100vh;
}
.login .content {
    max-width: 570px;
    padding: 24px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    outline: 3px solid var(--global-color);
    box-shadow: 0 20px 15px rgb(0, 0, 0);
}
.login .title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 56px;
    margin-top: 20px;
}

button.submit {
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    outline: 2px solid var(--main-color);
    margin-right: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    background-color: var(--main-color);
    font-size: 25px;
}
button a{
    color: white;

}
.login .content button:hover {
    transition: var(--transition);
    color: white;
}
input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
font-size: 25px;
}
input {
    width: 100%;
    background-color: #e6e6e6;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

@media (max-width: 768px) {
    .login .content {
        max-width: 350px;
    }
}
